.button { 
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #ccc;
  padding: 4px 8px;
  border-radius: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.text {
  font-size: 16px;
  font-weight: 500;
}